services:
  sbb-api:
    image: docker pull docker-registry.petits-bouts.com/sbb-dashboard-api:v1.0.0
    ports:
      - "8888:8080"
    restart: unless-stopped
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s
