services:
  sbb-api:
    image: docker pull docker-registry.petits-bouts.com/sbb-dashboard-api:v1.0.0
    restart: unless-stopped
    ports:
      - "8888:8080"
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
