services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    user: '0'
    environment:
      - GF_SERVER_ROOT_URL=$ROOT_URL
    volumes:
    - $GRAFANA_BASE_PATH/data:/var/lib/grafana
    networks:
      - hephaistos
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s


networks:
  hephaistos:
    external: true
