services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    user: '0'
    environment:
      - GF_SERVER_ROOT_URL=$ROOT_URL
    volumes:
    - $GRAFANA_BASE_PATH/data:/var/lib/grafana
    networks:
      - kafka-net

networks:
  kafka-net:
    external: true