services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    user: '0'
    volumes:
    - $GRAFANA_BASE_PATH/data:/var/lib/grafana