services:
  # Actual docker registry hosted on port 5000
  registry:
    image: registry:3.0
    container_name: registry
    restart: unless-stopped
    ports:
      - "5000:5000"
    volumes:
      - /home/kilian/container_data/docker-registry:/var/lib/registry
    environment:
      - REGISTRY_STORAGE_DELETE_ENABLED=true
      - REGISTRY_HTTP_HEADERS_Access-Control-Allow-Origin=https://docker-registry-ui.petits-bouts.com
      - REGISTRY_HTTP_HEADERS_Access-Control-Allow-Methods=GET,HEAD,DELETE
      - REGISTRY_HTTP_HEADERS_Access-Control-Allow-Headers=Authorization,Accept
      - REGISTRY_OTEL_ENABLED=false
  # Registry UI for nice web interface to docker images
  registry-ui:
    image: joxit/docker-registry-ui:2.5-debian
    container_name: registry-ui
    restart: unless-stopped
    ports:
      - "8081:80"
    environment:
      - REGISTRY_TITLE=Hephaistos Local Docker Registry
      - REGISTRY_URL=https://docker-registry.petits-bouts.com
      - DELETE_IMAGES=true
    depends_on:
      - registry
