services:
  grampsweb: &grampsweb
    image: ghcr.io/gramps-project/grampsweb:latest
    container_name: grampsweb
    restart: unless-stopped
    ports:
      - "5001:5000"  # host:docker
    environment:
      GRAMPSWEB_TREE: "Gramps Web"  # will create a new tree if not exists
      GRAMPSWEB_CELERY_CONFIG__broker_url: "redis://grampsweb_redis:6379/0"
      GRAMPSWEB_CELERY_CONFIG__result_backend: "redis://grampsweb_redis:6379/0"
      GRAMPSWEB_RATELIMIT_STORAGE_URI: redis://grampsweb_redis:6379/1
    volumes:
      - $GRAMPS_BASE_PATH/users:/app/users  # persist user database
      - $GRAMPS_BASE_PATH/index:/app/indexdir  # persist search index
      - $GRAMPS_BASE_PATH/thumb_cache:/app/thumbnail_cache  # persist thumbnails
      - $GRAMPS_BASE_PATH/cache:/app/cache  # persist export and report caches
      - $GRAMPS_BASE_PATH/secret:/app/secret  # persist flask secret
      - $GRAMPS_BASE_PATH/grampsdb:/root/.gramps/grampsdb  # persist Gramps database
      - $GRAMPS_BASE_PATH/media:/app/media  # persist media files
      - $GRAMPS_BASE_PATH/tmp:/tmp
    #networks:
    #  - hephaistos
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:5000 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    depends_on:
      - grampsweb_redis

  grampsweb_celery:
    <<: *grampsweb  # YAML merge key copying the entire grampsweb service config
    container_name: grampsweb_celery
    command: celery -A gramps_webapi.celery worker --loglevel=INFO --concurrency=2
    ports: []
    depends_on:
      - grampsweb
      - grampsweb_redis
    # No healthcheck
    healthcheck:
      disable: true
    

  grampsweb_redis:
    image: docker.io/library/redis:7.2.4-alpine
    container_name: grampsweb_redis
    # No healthcheck
    healthcheck:
      disable: true

#networks:
#  hephaistos:
#    external: true
