
services:
  nginxproxymanager:
    image: jc21/nginx-proxy-manager:2.12.6
    container_name: nginxproxymanager
    restart: always
    ports:
      - "80:80"    # Port http
      - "443:443"  # Port https
      - "81:81"    # NPM Web UI
    volumes:
      - ~/container_data/nginx/data:/data
      - ~/container_data/nginx/letsencrypt:/etc/letsencrypt
    networks:
      - hephaistos
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:81"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  hephaistos:
    external: true
