services:
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    ports:
      - 8191:8191
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8191"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s

  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    ports:
      - 9117:9117
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/CET
    volumes:
      - $STACK_BASE_PATH/jackett/config:/config
      - /etc/timezone:/etc/timezone:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9117"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/CET
      - WEBUI_PORT=8080
    volumes:
      - $STACK_BASE_PATH/qbittorrent/config:/config
      - $STACK_BASE_PATH/qbittorrent/downloads:/downloads
      - /etc/timezone:/etc/timezone:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    ports:
      - 7878:7878
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/CET
    volumes:
      - $STACK_BASE_PATH/radarr/config:/config
      - $MEDIA_PATH/movies:/movies
      - $STACK_BASE_PATH/qbittorrent/downloads:/downloads
      - /etc/timezone:/etc/timezone:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7878"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s
    

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    ports:
      - 8989:8989
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/CET
    volumes:
      - $STACK_BASE_PATH/sonarr/config:/config
      - $MEDIA_PATH/series:/tv
      - $STACK_BASE_PATH/qbittorrent/downloads:/downloads
      - /etc/timezone:/etc/timezone:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8989"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s
    
