services:
  db:
    image: postgis/postgis:16-master
    container_name: AdventureLog-DB
    hostname: adventurelog-db
    mem_limit: 1g
    cpu_shares: 1024
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "adventurelog", "-U", "adventureloguser"]
      timeout: 45s
      interval: 10s
      retries: 10
    volumes:
      - /home/kilian/container_data/adventure-log/db:/var/lib/postgresql/data:rw
    environment:
      POSTGRES_DB: adventurelog
      POSTGRES_USER: adventureloguser
      POSTGRES_PASSWORD: adventurelogpass
    restart: on-failure:5
    networks:
    - hephaistos

  web:
    image: ghcr.io/seanmorley15/adventurelog-frontend:latest
    container_name: AdventureLog-FRONTEND
    environment:
      - PUBLIC_SERVER_URL=http://server:8000
      - ORIGIN=https://adventurelog.petits-bouts.com
      - BODY_SIZE_LIMIT=Infinity
    ports:
      - 9866:3000
    depends_on:
      - server
    networks:
    - hephaistos
      
  server:
    image: ghcr.io/seanmorley15/adventurelog-backend:latest
    container_name: AdventureLog-SERVER
    healthcheck:
      test: timeout 10s bash -c ':> /dev/tcp/127.0.0.1/80' || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    environment:
      - PGHOST=db
      - PGDATABASE=adventurelog
      - PGUSER=adventureloguser
      - PGPASSWORD=adventurelogpass
      - SECRET_KEY=q9TAW5pK5O9DqAWhY18XupmtlZk0ULRmjroiZcfvJkvZduSYzrzc0FtM2yfHEeyB
      - DJANGO_ADMIN_USERNAME=marius
      - DJANGO_ADMIN_PASSWORD=mariushosting
      - DJANGO_ADMIN_EMAIL=yourown@email
      - DISABLE_REGISTRATION=false
      - PUBLIC_URL=https://adventurelogapi.yourname.synology.me
      - CSRF_TRUSTED_ORIGINS=https://adventurelog.yourname.synology.me, https://adventurelogapi.yourname.synology.me
      - DEBUG=False
      - FRONTEND_URL=https://adventurelog.yourname.synology.me
    ports:
      - 8669:80
    depends_on:
      - db
    volumes:
      - /home/kilian/container_data/adventure-log/media:/code/media:rw
    networks:
      - hephaistos

networks:
  hephaistos:
    external: true