services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.6
    container_name: jellyfin
    network_mode: host
    ports:
      - 8920:8920
      - 8096:8096
    volumes:
      - $JELLYFIN_BASE_NFS/config:/config
      - /home/kilian/container_data/jellyfin/media:/media
      - $JELLYFIN_BASE_NFS/cache:/cache
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8096"]
      interval: 2m
      timeout: 10s
      retries: 3
      start_period: 30s
      
