version: "3.9"

services:
  kafka:
    image: confluentinc/cp-kafka:7.8.0
    container_name: kafka
    hostname: kafka
    restart: unless-stopped
    user: root
    ports:
      - "9092:9092"       # client connections
      - "9093:9093"       # controller port
    environment:
      # --- KRaft mode ---
      KAFKA_NODE_ID: 1
      KAFKA_BROKER_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      CLUSTER_ID: 'EDOS-hEiT5SeRI-KmpED9A'   # generate with kafka-storage.sh random-uuid

      # --- Listeners ---
      KAFKA_LISTENERS: >
        PLAINTEXT://0.0.0.0:9092,
        INTERNAL://0.0.0.0:29092,
        CONTROLLER://0.0.0.0:9093

      KAFKA_ADVERTISED_LISTENERS: >
        PLAINTEXT://localhost:9092,
        INTERNAL://kafka:29092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: >
        PLAINTEXT:PLAINTEXT,
        INTERNAL:PLAINTEXT,
        CONTROLLER:PLAINTEXT
     
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_MIN_INSYNC_REPLICAS: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    volumes:
      - ./kafka/data:/var/lib/kafka/data
    networks:
      - kafka-net

  redpanda-console:
    image: redpandadata/console:latest
    container_name: redpanda-console
    restart: unless-stopped
    ports:
      - "8082:8080"
    environment:
      KAFKA_BROKERS: kafka:29092
    depends_on:
      - kafka
    networks:
      - kafka-net


  kafka-exporter:
    image: danielqsj/kafka-exporter 
    container_name: kafka-exporter
    restart: unless-stopped
    command: ["--kafka.server=kafka:9092"]
    ports:
      - 9308:9308
    depends_on:
      - kafka
    networks:
      - kafka-net


networks:
  kafka-net:
    external: true
